<%-include("../partials/header")-%>

    <!-- TOP NAVIGATION -->
    <nav>
        <p class="welcome"></p>
        <img src="/images/logo.png" alt="Logo" class="logo" />
        <!-- <form class="login">
          <input
            type="text"
            placeholder="user"
            class="login__input login__input--user"
          />
          <input
            type="text"
            placeholder="PIN"
            maxlength="4"
            class="login__input login__input--pin"
          />
          <button class="login__btn">&rarr;</button>
        </form> -->
      </nav>
  
      <main class="app">
        <!-- BALANCE -->
        <div class="balance">
          <div>
            <p class="balance__label">Current balance</p>
            <p class="balance__date">
              As of <span class="date">05/03/2037</span>
            </p>
          </div>
          <p class="balance__value">$0</p>
        </div>
  
        <!-- MOVEMENTS -->
        <div class="movements">
          <div class="movements__row">
            <div class="movements__type movements__type--deposit">2 deposit</div>
            <div class="movements__date">3 days ago</div>
            <div class="movements__value">$4,000</div>
          </div>
          <div class="movements__row">
            <div class="movements__type movements__type--withdrawal">
              1 withdrawal
            </div>
            <div class="movements__date">24/01/2037</div>
            <div class="movements__value">$-378</div>
          </div>
        </div>
  
        <!-- SUMMARY -->
        <!-- <div class="summary">
          <p class="summary__label">In</p>
          <p class="summary__value summary__value--in">$0</p>
          <p class="summary__label">Out</p>
          <p class="summary__value summary__value--out">$0</p>
          <p class="summary__label">Interest</p>
          <p class="summary__value summary__value--interest">$0</p>
          <button class="btn--sort">&downarrow; SORT</button>
        </div> -->
  
        <!-- OPERATION: DEPOSIT -->
        <div class="operation operation--deposit">
          <h2>Deposit Money</h2>
          <form class="form form--deposit">
            <input type="number" class="form__input form__input--amount" />
            <button class="form__btn form__btn--deposit">&rarr;</button>
            <label class="form__label">Amount</label>
          </form>
        </div>

        <!-- OPERATION: WITHDRAW -->
        <div class="operation operation--withdraw">
          <h2>Withdraw Money</h2>
          <form class="form form--withdraw">
            <input type="number" class="form__input form__input--amount" />
            <button class="form__btn form__btn--withdraw">&rarr;</button>
            <label class="form__label">Amount</label>
          </form>
        </div>
  
        <!-- LOGOUT TIMER -->
        <!-- <p class="logout-timer">
          You will be logged out in <span class="timer">05:00</span>
        </p> -->
      </main>

      <script src="/js/homeScript.js"></script>
<%-include("../partials/footer")-%>