<%-include("../partials/header")-%>

    <!-- TOP NAVIGATION -->
    <nav>
        <p class="welcome">Log in to get started</p>
        <img src="/images/logo.png" alt="Logo" class="logo" />
        <form class="login" method="post">
          <input
            type="text"
            placeholder="username"
            class="login__input login__input--user"
          />
          <input
            type="password"
            placeholder="password"
            maxlength="127"
            class="login__input login__input--password"
          />
          <button type="submit" class="login__btn">&rarr;</button>
        </form>
    </nav>

<%-include("../partials/footer")-%>